bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/ProjectEvaluation/workhours.metadata.v7.bin
/.vs/ProjectEvaluation/workhours.projects.v7.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/WorkHours/DesignTimeBuild/.dtbcache.v2
/.vs/WorkHours/FileContentIndex/42a877a6-1be0-4231-8918-0ae800ba6788.vsidx
/.vs/WorkHours/v17/.futdcache.v2
/.vs/WorkHours/v17/.suo
/.vs/WorkHours/v17/.wsuo
/.vs/WorkHours/v17/DocumentLayout.json
/.vs/WorkHours/FileContentIndex/0c16c863-d16c-46ba-b689-0a7a08106a74.vsidx
/.vs/WorkHours/FileContentIndex
